@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #fbbf24;

  --font-lato: "Lato", sans-serif;
  --font-audiowide: "Audiowide", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
